.task-card {
  width: 100%;
  min-height: 100px;
  border: 1px solid #2c2b2b;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}

.task-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.task-card-bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-delete {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-delete:hover {
  background-color: #7e7b7b;
}

.delete-icon {
  width: 20px;
  opacity: 50%;
  transition: all 0.3 ease-in-out;
}

.task-delete:hover .delete-icon {
  opacity: 90%;
}
